<div class="row">
    <div class="span4 offset4 center">
        <h1>Worlds</h1>
    </div>
</div>
<div class="row" data-ng-controller="worldsController">
    <div class="span4 offset5">
        <div>
            <i class="icon-spinner icon-large icon-spin" id="spinner"></i>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>World Name</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="world in worlds | orderBy: predicate">
                    <td>{{ world.name }}</td>
                    <td><a data-ng-href="/#/details/{{ world.id }}">Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>