<div class="row">
    <h1 class="span8 offset2 center">Events</h1>
</div>
<div class="row">
    <span class="offset2">
        <input class="span5" type="text" placeholder="search" data-ng-model="searchTerm.name"/>
    </span>
    <span>
        <select data-ng-model="selected">
            <option value=""></option>
            <option value="Active">Active</option>
            <option value="Fail">Fail</option>
            <option value="Success">Success</option>
            <option value="Warmup">Warmup</option>
        </select>
    </span>
</div>
<div class="row">
    <div class="center span8 offset2">
        <i class="icon-spinner icon-large icon-spin" id="spinner"></i>
    </div>
</div>
<div class="row" data-ng-controller="eventsController">
    <div class="span8 offset2">
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Map Name</th>
                    <th>Event Name</th>
                    <th>Status</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="event in events | filter:selected| filter:searchTerm | orderBy:predicate">
                    <td>
                         {{ event.map_name }}
                    </td>
                    <td>
                         {{ event.name }}
                    </td>
                    <td>
                        {{ event.state }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
