<div class="row">
    <div class="span8 offset2 center">
        <h1>Worlds</h1>
    </div>
</div>
<div class="row">
    <div class="span12">
        <input type="text" class="span12" data-ng-model="searchTerm.name" placeholder="search..."/>
    </div>
</div>
<div class="row" data-ng-controller="worldsController">
    <div class="span12">
        <div>
            <i class="icon-spinner icon-large icon-spin" id="spinner"></i>
        </div>
        <div>
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>World Name</th>
                    <th>Details</th>
                </tr>
                </thead>
                <tbody>
                <tr data-ng-repeat="world in worlds | filter:searchTerm |orderBy: predicate">
                    <td>{{ world.name }}</td>
                    <td><a data-ng-href="#/worlds/details/{{ world.id }}">Details</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>